.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 50%;
    
    
}


a{
    display: block;
    text-decoration: none;
    text-align: center;

}
#btn__zuri,#books,#book__python,#pitch,#book__design,#contact{
    background-color: lightgoldenrodyellow;
    margin: 20px;
    text-align:center;
}
#slack{
    display:none;
}